# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sessions & Logs
sessions/
sessions*/
*.log
*.bak
*.bak*
*.backup*
*.backup

# PHP Writable & Sessions
backend/writable/session/
backend/writable/cache/
backend/writable/logs/
backend/writable/debugbar/

# Misc
.DS_Store
Thumbs.db
engine/cache/
